@charset "utf-8";

#bk {
    background-color: #ffcc00;
    width: 100%;
    height: 50vh;
    /*background-image: url('bk1.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
}

#dialogbox {
    position: relative;
    width: 80%;
    height: 100px;
    top: -90px;
    left: calc(10%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
}

#namebox {
    position: relative;
    width: 100px;
    height: 30px;
    top: -228px;
    left: calc(10%);
    background: rgba(0, 0, 0, 0.7);
}

#characontainer {
    position: relative;
    background: rgba(22, 111, 66, 0.7);
    width: 100%;
    /*90%;*/
    height: 90%;
    top: calc(10%);
    /*left: calc(5%);*/
    display: inline-block;
    text-align: center;
}

.character {
    width: 32%;
    height: 100%;
    display: inline-block;
    background: rgba(221, 111, 66, 1);
    background-size: contain;
    background-repeat: no-repeat;
}

.exp {
    width: 100%;
    height: 100%;
    background: rgba(21, 11, 166, 0.5);
}
