body{
	margin: 0;
	padding:0;
	font: 12px Tahoma, arial, sans-serif;
	width: 300px;
	height: 800px;
	margin: 0 auto;
	margin-top: 100px;
	position: relative;
	display:block;
}

.hair{
	position: absolute;
	width: 300px;
	height: 400px;
	border: 1px solid #000000;
	background:#454242;
	border-top-left-radius: 150px;
	border-top-right-radius: 150px;
}
.face{
	position: absolute;
	top:100px;
	left: 50px;
	width: 200px;
	height: 185px;
	border: 1px solid #000000;
	background:#fceee7;
	border-bottom-left-radius: 117px 68px;
	border-bottom-right-radius: 117px 68px;
}
.fronthair{
	position: absolute;
	top:50px;
	width: 250px;
	height: 100px;
	left: 25px;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #454242;
	background:#454242;
	border-top-left-radius: 100px 200px;
	border-top-right-radius: 100px 200px;
}
.lefthair{
	position: absolute;
	top:120px;
	width: 60px;
	height: 110px;
	left: 10px;
	border: 1px solid #000000;
	border-top: none;
	background:#454242;
	border-bottom-left-radius: 50px 200px;
	border-top-left-radius: 20px 120px;
}
.righthair{
	position: absolute;
	top:120px;
	width: 60px;
	height: 110px;
	left: 230px;
	border: 1px solid #000000;
	border-top: none;
	background:#454242;
	border-bottom-right-radius: 50px 200px;
	border-top-right-radius: 20px 120px;
}
.leftrighthair{
	position: absolute;
	top:120px;
	width: 190px;
	height: 122px;
	left: 55px;
	border: 1px solid #000000;
	border-bottom: 1px solid #fceee7;
	border-top: none;
	background:#fceee7;
	border-bottom-left-radius: 20px 120px;
	border-bottom-right-radius: 20px 120px;
}

.eyeline{
	position: absolute;
	top:170px;
	width: 60px;
	border: 1px solid #000000;
	border-bottom: none;
	border-right: none;
	border-left: none;
	border-bottom-left-radius: 20px 120px;
	border-bottom-right-radius: 20px 120px;
}
.eye{
	position: absolute;
	width: 30px;
	height: 50px;
	left: 20px;
	border: 1px solid #000000;
	background:#7a5633;
	border-top: none;
	border-bottom-left-radius: 50px 120px;
	border-bottom-right-radius: 50px 120px;
}
.left.eyeline{
	left: 60px;
}
.left.eye{
	left: 20px;
}
.right.eyeline{
	left:180px;
}
.right.eye{
	left:10px;
}

.mouth{
	position: absolute;
	top:250px;
	left:140px;
	width:0px; 
	height:0px;   
	border-left:10px solid transparent;   
	border-right:10px solid transparent; 
	border-bottom:20px solid #000;
}
.mouthfill{
	position: absolute;
	top:1px;
	left:-8px;
	width:0px; 
	height:0px;   
	border-left:8px solid transparent;   
	border-right:8px solid transparent; 
	border-bottom:18px solid #ff9a8c;
}

.collar{
	position: absolute;
	top:250px;
	left:75px;
	width:50px;   
	height:0;  
	border-left:50px solid transparent;
	border-right:50px solid transparent;   
	border-top:80px solid #000; 
}
.collarfill{
	position: absolute;
	top:-77px;
	left:-47px;
	width:48px;   
	height:0;  
	border-left:48px solid transparent;
	border-right:48px solid transparent;   
	border-top:78px solid #f9f9f9; 
}
.neck{
	position: absolute;
	top:-69px;
	left:0px;
	width:0;   
	height:0;  
	border-bottom:30px solid #000; 
	border-left:25px solid transparent;
	border-right:25px solid transparent;   
	border-top:40px solid #000; 
}
.neckup{
	position: absolute;
	top:-40px;
	left:-24px;
	width:0;   
	height:0;  
	border-left:24px solid transparent;
	border-right:24px solid transparent;   
	border-top:39px solid #fceee7;
}
.neckdown{
	position: absolute;
	top:1px;
	left:-24px;
	width:0;   
	height:0;  
	border-bottom:30px solid #f9f9f9; 
	border-left:24px solid transparent;
	border-right:24px solid transparent;
}

.shirt{
	position: absolute;
	top:330px;
	left:45px;
	width:150px;   
	height:0;
	border-left:30px solid transparent;
	border-right:30px solid transparent;   
	border-bottom:150px solid #000; 
}
.shirtfill{
	position: absolute;
	top:-1px;
	left:-29px;
	width:148px;   
	height:0;
	border-left:30px solid transparent;
	border-right:30px solid transparent;   
	border-bottom:150px solid #f9f9f9; 
}
.shirtplacket{
	position: absolute;
	top:309px;
	left:144px;
	width:10px;   
	height:170px;
	border: 1px solid #000000;
	border-top: none;
	border-bottom: none;
}

.button{
	position: absolute;
	left: 1px;
	width: 6px;
	height: 6px;
	border: 1px solid #000000;
	background:#fff;
	border-radius: 3px;
}
.a.button{
	top:10px;
}
.b.button{
	top:60px;
}
.c.button{
	top:110px;
}

.arm{
	position: absolute;
	width: 100px;
	height: 200px;
	border: 1px solid #000000;
	background:#f9f9f9;
	border-top-left-radius: 150px;
	border-top-right-radius: 150px;
}
.left.arm{
	top: 250px;
	left: 50px;
	transform:rotate(20deg);
	-ms-transform:rotate(20deg); /* Internet Explorer */
	-moz-transform:rotate(20deg); /* Firefox */
	-webkit-transform:rotate(20deg); /* Safari 和 Chrome */
	-o-transform:rotate(20deg); /* Opera */
}
.right.arm{
	top: 250px;
	left: 150px;
	transform:rotate(-20deg);
	-ms-transform:rotate(-20deg); /* Internet Explorer */
	-moz-transform:rotate(-20deg); /* Firefox */
	-webkit-transform:rotate(-20deg); /* Safari 和 Chrome */
	-o-transform:rotate(-20deg); /* Opera */
}

.hand{
	position: absolute;
	top:410px;
	width: 50px;
	height: 50px;
	border: 1px solid #000000;
	background:#fceee7;
	border-radius: 25px;
}
.left.hand{
	position: absolute;
	left:30px;
}
.right.hand{
	position: absolute;
	left:220px;
}

.skirt{
	position: absolute;
	top:340px;
	left:40px;
	width:120px;   
	height:0;
	border-left:50px solid transparent;
	border-right:50px solid transparent;   
	border-bottom:180px solid #000; 
}
.skirtfill{
	position: absolute;
	top:-1px;
	left:-49px;
	width:120px;   
	height:0;
	border-left:49px solid transparent;
	border-right:49px solid transparent;   
	border-bottom:180px solid #46547a; 
}
.skirtline{
	position: absolute;
	height:60px;
	border: 1px solid #000000;
	border-top: none;
	border-bottom: none;
	border-right: none;
}
.a.skirtline{
	top:120px;
	left:0px;
	transform:rotate(10deg);
	-ms-transform:rotate(10deg); /* Internet Explorer */
	-moz-transform:rotate(10deg); /* Firefox */
	-webkit-transform:rotate(10deg); /* Safari 和 Chrome */
	-o-transform:rotate(10deg); /* Opera */
}
.d.skirtline{
	top:120px;
	left:120px;
	transform:rotate(-10deg);
	-ms-transform:rotate(-10deg); /* Internet Explorer */
	-moz-transform:rotate(-10deg); /* Firefox */
	-webkit-transform:rotate(-10deg); /* Safari 和 Chrome */
	-o-transform:rotate(-10deg); /* Opera */
}
.b.skirtline{
	top:120px;
	left:40px;
	transform:rotate(5deg);
	-ms-transform:rotate(5deg); /* Internet Explorer */
	-moz-transform:rotate(5deg); /* Firefox */
	-webkit-transform:rotate(5deg); /* Safari 和 Chrome */
	-o-transform:rotate(5deg); /* Opera */
}
.c.skirtline{
	top:120px;
	left:80px;
	transform:rotate(-5deg);
	-ms-transform:rotate(-5deg); /* Internet Explorer */
	-moz-transform:rotate(-5deg); /* Firefox */
	-webkit-transform:rotate(-5deg); /* Safari 和 Chrome */
	-o-transform:rotate(-5deg); /* Opera */
}

.leg{
	position: absolute;
	width: 50px;
	height: 100px;
	border: 1px solid #000000;
	border-top: none;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	background: #333333;
}
.left.leg{
	top:520px;
	left: 80px;
	border-bottom-right-radius: 30px;
}
.right.leg{
	top:520px;
	left: 170px;
	border-bottom-left-radius: 30px;
}
.legline{
	position: absolute;
	width: 50px;
	height: 20px;
	border: 1px solid #000000;
	border-top: none;
	border-right: none;
	border-left: none;
	background:#ffe5e5;
}

.ahohair{
	position: absolute;
	top:-52px;
	left: 125px;
	width: 20px;
	height: 50px;
	border: 1px solid #000000;
	border-right: none;
	background:#666666;
	border-top-left-radius: 150px 250px;
	border-bottom-left-radius: 150px 150px;
}
.ahohairleft{
	position: absolute;
	top:0px;
	left: 10px;
	width: 10px;
	height: 50px;
	border: 1px solid #000000;
	border-right: none;
	background:#fff;
	border-top-left-radius: 50px 100px;
	border-bottom-left-radius: 50px 100px;
}






