@charset "utf-8";

html,
body {
    overflow: hidden;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.danmu {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 150%;
    position: absolute;
    white-space: nowrap;
}

#imgdiv {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: auto;
}

#mangaimg {
    max-width: 600px;
    min-width: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#dammaku {
    right: 0;
    top: 0;
    width: 100%;
    position: fixed;
    padding: 10px;
}

#imageselector {
    bottom: 0;
    width: 100%;
    height: 150px;
    position: fixed;
    background-color: #000;
    opacity: 0.7;
    padding: 10px;
}

#disqus_thread {
    position: relative;
    display: block;
    margin: 0px 50px 0px 50px;
}

#buttonscontainer {
    height: 100%;
    width: calc(100% - 20px);
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#imgbtn {
    bottom: 0;
    position: fixed;
}
